<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>单聊室</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/sweetalert.css">
</head>
<body style="background-color: #999999">
<div id="username" style="display: none">{{username}}</div>
<div class="panel panel-default">
    <div class="panel-heading  col-lg-4 col-lg-offset-4">
        <h3 class="panel-title">单聊</h3>
        <div class="col-lg-6 col-lg-offset-6">
            <input type="text" class="form-control" id="to_user" placeholder="请输入好友id">
            <input type="button" class="btn btn-success" value="确认" id="to_user_ok">
        </div>
    </div>

    <div class="panel-body  col-lg-4 col-lg-offset-4 " style="background-color: #e0e0e0 ;height: 600px">
        <div class="content">
        </div>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <input type="text" class="form-control" id="mess">
        <input class="btn btn-success" type="button" value="发送" id="sned_mes">
    </div>
</div>

<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/sweetalert.min.js"></script>
<script type="text/javascript">
    var ws = new WebSocket('ws://127.0.0.1:5000/one_to_one/' + $("#username").text());

    $("#to_user_ok").click(function () {
        var to_user = $("#to_user").val();
        $('#sned_mes').click(function () {
            var mes = $("#mess").val();
            var data = {"to_user": to_user, 'mes': mes};
            ws.send(JSON.stringify(data));
            var mes_p = $("<p>");
            mes_p.attr({"class": 'text-right'});
            mes_p.text($("#username").text() + ':' + mes);
            $(".content").append(mes_p);
            $("#mess").val('')
        });
        ws.onmessage = function (data) {
            var mes_p = $("<p>");
            mes_p.text(data.data);
            $(".content").append(mes_p)
        }
    });


</script>
</body>
</html>